PORT=5000
MONGODB_URI=mongodb://localhost:27017/neighbourly
JWT_SECRET=your_jwt_secret_key
# Cloudinary Keys
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
# Razorpay Keys
RAZORPAY_KEY_ID=rzp_test_STpyAR3aXggmNv
RAZORPAY_KEY_SECRET=YLu2LcYa3MxZzF4ye3pfyPHX